target/
*.class
*.jar
*.war
dist/
.idea/
*.iml
.eclipse/
.settings/
.classpath
.project
launch4j-config.xml
BUILD.md
build.bat
JWT_Crack_Gonnacrazy.xml
launch4j.log
pom.xml
run-with-bundled-jre.bat
icon.ico